<div class="home-container">
  
  <!-- Navbar Pública -->
  <nav class="navbar">
    <div class="brand">
      <h1>🍦 Yo Helados</h1>
    </div>
    <div class="nav-links">
      <!-- Botones para el cliente -->
      <a routerLink="/login" class="btn-nav">Soy Staff</a>
      <!-- Aquí luego pondremos el login de clientes -->
    </div>
  </nav>

  <!-- Hero Section -->
  <header class="hero">
    <h2>La felicidad se sirve fría</h2>
    <p>Descubrí nuestros sabores artesanales.</p>
  </header>

  <!-- Catálogo -->
  <main class="catalogo">
    <h3 class="section-title">Nuestros Sabores</h3>

    <div *ngIf="loading" class="loading">Cargando dulzura... 🍨</div>

    <div *ngIf="!loading" class="grid-helados">
      <div *ngFor="let p of productos" class="card-helado">
        <div class="img-container">
          <!-- Fallback de imagen por si no cargaron foto -->
          <img [src]="p.imagen_url || 'https://via.placeholder.com/300x200?text=Sin+Foto'" [alt]="p.nombre">
        </div>
        <div class="card-body">
          <div class="row-top">
            <h4>{{ p.nombre }}</h4>
            <span class="price">${{ p.precio }}</span>
          </div>
          <p class="desc">{{ p.descripcion }}</p>
          <button class="btn-pedir">Ver Más</button>
        </div>
      </div>
    </div>
  </main>
</div>